@media only screen and (min-width: 992px) {
  .portfolio {
    width: 100%;
    height: 100vh;
    background: rgb(34, 34, 34);
    margin-left: 65px;
    width: calc(100% - 65px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90vh;
    flex-wrap: wrap;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .portfolio-wrapper a {
    width: 32.5%;
    height: 32%;
    display: flex;
    align-items: center;
    background: #333333;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  .portfolio-wrapper a:hover img {
    transition: 0.5s;
  }
  .portfolio-wrapper a img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    transition: 0.5s;
  }
}
@media only screen and (min-width: 680px) and (max-width: 991px) {
  .portfolio {
    width: 100%;
    height: 100vh;
    background: rgb(34, 34, 34);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .portfolio-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90vh;
    flex-wrap: wrap;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .portfolio-wrapper a {
    margin-top: 10px;
    width: 48.5%;
    height: 30%;
    display: flex;
    align-items: center;
    background: #333333;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  .portfolio-wrapper a:hover img {
    transition: 0.5s;
  }
  .portfolio-wrapper a img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    transition: 0.5s;
  }
}
@media only screen and (max-width: 679px) {
  .portfolio {
    width: 100%;
    height: 100vh;
    background: rgb(34, 34, 34);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .portfolio-wrapper {
    margin-top: 150px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    
  }
  .portfolio-wrapper a {
    margin-top: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    background: #333333;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  .portfolio-wrapper a:hover img {
    transition: 0.5s;
  }
  .portfolio-wrapper a img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 80%;
    transition: 0.5s;
  }
}