.spinner-wrapper {
  width: 100%;
  height: 100vh;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-wrapper img {
  display: block;
  width: 250px;
  height: auto;
  animation-timing-function: ease-in;
  animation-name: rotating;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotating {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: -50px;
    left: -67px;
    transform: scale(0.5);
  }
}
