.about {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(34, 34, 34);
  margin-left: 65px;
  width: calc(100% - 65px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
@keyframes showAbout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.changePageScreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgb(34, 34, 34);
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: changeScreen;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.page-loader{
  width: 0px;
  height: 5px;
  background: #0089c9;
  animation-name: growLine;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes growLine {
  0% {
    width: 0px;
  }
  25% {
    width: 0px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 300px;
  }
}
@keyframes changeScreen {
  0% {
    left: -100%;
  }
  25% {
    left: 0%;
  }
  75% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.about-img {
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  animation-name: showAbout;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  
}

.about-content {
  width: 40%;
  animation-name: showAbout;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.about-content h2 {
  font-size: 44px;
  border-bottom: 1px solid #0089c9;
}
