@media only screen and (min-width: 992px) {
  .contact {
    width: 100%;
    height: 100vh;
    margin-left: 65px;
    width: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }
  .contact-img {
    width: 50%;
    height: 100%;
    filter: grayscale(1);
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../../dist/img/contact/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .contact-wrapper {
    width: 35%;
    border-left: 1px solid #0089c9;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes showPortfolio {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact .contact-wrapper h2 {
    margin-top: 0px;
    padding: 50px;
    font-size: 40px;
    color: white;
    padding-left: 0px;
  }
  .contact .contact-wrapper h3 {
    color: white;
    font-weight: 400;
  }
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
  }
  .socials a:first-child {
    margin-right: 20px;
  }
  .socials a img {
    width: 50px;
    flex-grow: 1;
  }
  .socials a img:first-child {
    filter: grayscale(0);
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .contact {
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }
  .contact-img {
    width: 50%;
    height: 100%;
    filter: grayscale(1);
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../../dist/img/contact/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .contact-wrapper {
    border-left: 1px solid #0089c9;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @keyframes showPortfolio {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact .contact-wrapper h2 {
    font-size: 32px;
    color: white;
    padding-left: 0px;
    margin-bottom: 10px;
  }
  .contact .contact-wrapper h3 {
    color: white;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }
  .socials a:first-child {
    margin-right: 20px;
  }
  .socials a img {
    width: 50px;
    flex-grow: 1;
  }
  .socials a img:first-child {
    filter: grayscale(0);
  }
}
@media only screen and (max-width: 480px) {
  .contact {
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
  }
  .contact-img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../../dist/img/contact/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .contact-wrapper {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 50%;
    animation-name: showPortfolio;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes showPortfolio {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .contact .contact-wrapper h2 {
    margin-top: 0px;
    font-size: 32px;
    color: white;
    border-bottom: 1px solid #0089c9;
    padding-left: 0px;
  }
  .contact .contact-wrapper h3 {
    color: white;
    font-weight: 400;
  }
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
  }
  .socials a:first-child {
    margin-right: 20px;
  }
  .socials a img {
    width: 50px;
    flex-grow: 1;
  }
  .socials a img:first-child {
    filter: grayscale(0);
  }
}
